header{
    width: 100%;
    height: max-content;
}
.header__container{
    width: 100vw;
    height: 30%;
    position: fixed;
    z-index: 100;
    /* transition: all 0.5s; */
}
.header__title{
    position: absolute;
    top: 50%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width: max-content;
    color: var(--clear-color);
    font-size: 13rem;
    transition: all 0.5s;
}
.header__title--scroll{
    left: 20%;
    font-size: 6rem;
}
.header__navigation{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: var(--primary-color);
    padding: 2rem 3rem;
    border-radius: 5rem;
    transition: all 0.5s;
}
.header__navigation--scroll{
    top: 50%;
    transform: translate(-30%, -50%);
    background-color: transparent;
}
.header__navigation a{
    transition: all 0.5s;
    color: var(--clear-color);
    text-decoration: none;
    height: 100%;
}
.header__navigation a:hover{
    transform:scale(1.1);
    color: var(--secondary-color);
}
.pageblock__viewport{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
.pageblock__page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--clear-color);
}
.pageblock__button--slide{
    transition: all 1s;
    background-color: var(--primary-color);
    opacity: 0.6;
    color: var(--clear-color);
    padding: 3rem;
}
.pageblock__button--slide:hover{
    cursor: pointer;
    opacity: 1;
}
#back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#next{
    position: absolute;
    top: 50%;
    left: 100%;     
    transform: translate(-100%, -50%);
}